$card_width: 140px; // from marvel specs, for xlarge portrait, https://developer.marvel.com/documentation/images
$card_height: 140px;


.characterCard__card {
  position: relative;
  width: $card_width;
  height: $card_height;
  margin:5px;

  .characterCard__card-back {
    position: absolute;
    z-index: 10;
    img {
      width: $card_width;
      height: $card_height;
    }

  }

  .characterCard__card-back--hidden {
    display:none;
  }

  .characterCard__card-front {
    position: absolute;
    z-index: 5;
    img {
      width: $card_width;
      height: $card_height;
    }
  }
}