@mixin bangers {
  font-family: 'Bangers', cursive;
}

@mixin bubblegum {
  font-family: 'Bubblegum Sans', cursive;
}

.gameHeader__main div.container {
  margin-left: 60px;
}

.gameHeader__title {
  @include bangers;
  font-size: 50px;
  color: red;
  text-align: left;
}

.gameHeader__title-detail {
  @include bangers;
  font-size: 50px;
  color: white;
}

